---
import Game from "../components/Game";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Twin Kingdom Valley</title>
    <style is:global>
      html,
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <Game client:load />
  </body>
</html>
